body {
    background: black;
    color: white;
    padding: 25px;
    font-family: sans-serif;
}
h1 {
    color: lightgreen;
}

#svg-container {
    /*width: min-content;*/
    border: solid gray 2px;
    margin-bottom: 0.5em;
}
#svg-container svg {
    display: block;
}

pre {
    font-family: monospace;
    overflow-x: auto;
}

.invisible {
    visibility: hidden;
}
.gone {
    display: none;
}
.resizable {
    resize: both;
    overflow: hidden;
}

/*
.cursor-move { cursor: move; }
.cursor-grab { cursor: grab; }
.cursor-grabbing { cursor: grabbing; }
.cursor-cross { cursor: crosshair; }
.resize-n { cursor: n-resize; }
.resize-s { cursor: s-resize; }
.resize-e { cursor: e-resize; }
.resize-w { cursor: w-resize; }
.resize-ne { cursor: ne-resize; }
.resize-nw { cursor: nw-resize; }
.resize-se { cursor: se-resize; }
.resize-sw { cursor: sw-resize; }
*/

fieldset {
    border-color: lightgreen;
}
fieldset legend {
    color: lightgreen;
}

#controls {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#controls fieldset label {
    display: block;
    float: left;
}
#controls fieldset label:not(.with) {
    clear: left;
}
#color label:not(.with) {
    margin-top: 2px;
}

label input:checked:not(:disabled) + span {
    color: yellow;
}
label input:disabled + span, 
label input:disabled + * > span 
{
    color: gray;
}
svg {
    outline: dashed gray 1px;
}



.dropdown {
    display: inline-block;
    position: relative;
}
.dropdown-content {
    margin-top: 0px;
    display: none;
    position: absolute;
    background-color: lightgray;
    color: black;
}
.dropdown:hover .dropdown-content {
    display: block;
}
ul.dropdown-content {
    padding: 0px 5px;
    list-style-type: none;
}
ul.dropdown-content.stroke-demo {
    padding: 0px 0px;
    list-style-type: none;
    width: 100%;
    border: 1px solid gray;
}
input:disabled + * ul.dropdown-content.stroke-demo {
    display: none;
}
.stroke-demo li {
    position: relative;
    height: 1.25em;
    padding: 0 0.5em;
}
.stroke-demo li:hover {
    background-color: yellow;
}
.stroke-demo li span.demo {
    display: inline-block;
    background-color: black;
    width: calc(100% - 1em);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

canvas {
    display: block;
    border: solid gray 2px;
}
img {
    display: block;
    border: solid gray 2px;
}

#toCanvasBtn {
    display: none;
}