svg {
    display: none;
  }
  
  canvas {
    display: block;
  }
  
  a {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px;
    padding: 10px 16px;
    display: block;
    position: fixed;
    bottom: 0;
    right: 0;
    color: #ddd;
    transition: all 0.25s;
  }
  
  a:hover {
    color: #3498db;  
  }
  